* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  background: #2b2b2b;
}

.mobile {
  display: none;
}

.arrow-right {
  display: none;
}

header {
  /* position: fixed; */
  width: 100%;
  height: 5%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Monoton", cursive;
  font-size: 1.5rem;
  color: rgb(187 187 199);
  background: #2b2b2b;
  border-bottom: 1.3px solid rgba(0, 0, 0, 0.37);
}

/* >>>>>>> CONTAINER <<<<<<< */

.container {
  width: 100%;
  height: 95%;
}

.container div.active {
  position: absolute;
  top: 14rem;
  left: 0;
  width: 100%;
  height: 60%;
}

.container div {
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 12.5%;
  transition: 0.5s;
}

.container div:hover {
  width: 100%;
}

.container div a {
  width: 100%;
  text-align: center;
  background: #00000091;
  color: rgb(173, 167, 167);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.4rem;
  text-decoration: none;
  margin-bottom: 3rem;
}

.container div img {
  display: none;
}

/* >>>>>>> FOOTER <<<<<<< */

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  padding: 0.3rem;
  color: rgba(173, 167, 167, 0.411);
  font-family: Georgia, "Times New Roman", Times, serif;
}

/* >>>>>>> IMAGES <<<<<<< */

.div1 {
  background: url(/images/pexels-francesco-ungaro-1525041.jpg);
  background-size: cover;
}

.div2 {
  background: url(/images/pexels-nicole-avagliano-2749481.jpg);
  background-size: cover;
}

.div3 {
  background: url(/images/pexels-kenneth-carpina-2468773.jpg);
  background-size: cover;
}

.div4 {
  background: url(/images/pexels-mark-plötz-2790395.jpg);
  background-size: cover;
}

.div5 {
  background: url(/images/pexels-simon-berger-1183099.jpg);
  background-size: cover;
}

.div6 {
  background: url(/images/pexels-mohamed-almari-1485894.jpg);
  background-size: cover;
}

.div7 {
  background: url(/images/pexels-arshad-sutar-1749303.jpg);
  background-size: cover;
}

.div8 {
  background: url(/images/pexels-eberhard-grossgasteiger-1612351.jpg);
  background-size: cover;
}

/* >>>>>>> MODAL <<<<<<< */
.modal-img {
  position: fixed;
  z-index: 2;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #151515;
  visibility: hidden;
}

.modal-content {
  position: relative;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-img img {
  width: 100vh;
}

#btn-close {
  position: absolute;
  color: white;
  background-color: black;
  top: 10px;
  right: 10px;
  font-size: 2.5rem;
  padding: 0 1rem 0;
  border: 1px solid #414141;
  cursor: pointer;
}

.modal-active {
  visibility: visible;
}

.mode-mobile {
  width: 100%;
  height: 100%;
  display: flex;
  background: #3f3f3f;
  padding: 10rem;
}

#download {
  padding: 0 1rem;
  position: absolute;
  bottom: 10px;
  right: 10px;
  text-align: center;
  color: rgba(255, 255, 255, 0.726);
  text-decoration: none;
  font-size: 2.8rem;
}

@media (max-width: 1200px) {
  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  header {
    position: fixed;
    padding: 1.5rem;
    top: 0;
    left: 0;
  }

  .container {
    display: flex;
    height: auto;
  }

  .mode-mobile {
    width: 90vw;
    height: auto;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    padding: 0;
    align-items: center;
    margin: 0 auto 0;
    gap: 1rem;
    background: transparent;
    /* flex-wrap: wrap; */
    overflow: auto;
  }

  #download {
    right: 0;
  }

  .modal-content {
    width: auto;
  }

  .container div {
    display: flex;
    width: 8rem;
    height: 16rem;
    margin-bottom: 1.6rem;
  }

  .container div:hover {
    width: 8rem;
  }

  .arrow-right {
    position: relative;
    display: flex;
    font-size: 2rem;
    color: rgba(255, 255, 255, 0.199);
  }

  .arrow-right span {
    position: absolute;
    z-index: 1;
    right: 15px;
    top: 0;
  }
}

@media (max-width: 950px) {
  .modal-content {
    width: 90%;
  }

  .modal-img img {
    width: 100%;
  }
}

@media (max-width: 400px) {
  .modal-img img {
    width: 100%;
  }

  .container div {
    height: 13rem;
  }
}

@media (max-width: 350px) {
  #download {
    font-size: 2.4rem;
  }
}

@media (max-height: 450px) {
  .container div {
    height: 14rem;
  }
}

@media (max-height: 400px) {
  .container div {
    width: 6.5rem;
    height: 12rem;
  }

  .container div a {
    font-size: 1.2rem;
  }

  .mode-mobile {
    margin-top: 2rem;
  }
}

@media (max-height: 350px) {
  .container div {
    width: 5.7rem;
    height: 8.8rem;
  }

  .container div a {
    font-size: 1rem;
  }
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;
}
.bg-video::after {
  content: "";
  width: 100%;
  height: 100%;

  position: absolute;
  top: 0;
  left: 0;
  display: block;
  /* background: rgba(0, 238, 71, 0.103); */
}
